# Use c++23
build --cxxopt='-std=c++23'
build --copt=-fdiagnostics-color=always

build --features=-macos_minimum_os
build --features=-macos_default_link_flags
build --features=oso_prefix_is_pwd
build --features=debug_prefix_map_pwd_is_dot
build --spawn_strategy=local